.admin-categori-bottom-top {
  display: flex;
  width: 720px;
  margin-bottom: 20px;
}

.admin-search {
  position: relative;
  width: 590px;
  height: 35px;
}

.admin-search-img {
  background-image: url(../../assets/image/search-icon.png);
  background-size: cover;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: -10px;
  margin: 0;
}

.admin-search input {
  width: 99%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.dropdown_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
}
