#board-detail-wrap {
  width: 800px;
  min-height: 900px;
  margin: auto;
}

.board-detail-content {
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  width: 100%;
  min-height: 600px;
  margin: 60px 0px 10px 0px;
}

.board-detail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #c7c7c7;
}

.board-detail-top-left,
.board-detail-mid-left,
.board-detail-info-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-detail-top-left,
.board-detail-mid-left {
  margin-left: 25px;
}

.board-detail-info-left,
.board-detail-top-right {
  margin-right: 20px;
  position: relative;
}

.user-information-box {
  position: absolute;
  top: 120%;
  width: 110%;
  left: 0%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.134);
  border-radius: 7px;
  background-color: #f9f9f9;
}
/* .user-information-box-child:first-child {
  border-top: 1px solid black;
} */
.user-information-box-child {
  padding: 10px 15px;
  border: none;
  border-top: 0px;
  cursor: pointer;
}
.user-information-box-child:hover {
  background-color: #e6e6e6;
}

.board-detail-mid {
  min-height: 500px;
  border-bottom: 1px solid #c7c7c7;

  padding: 25px;
  display: flex;
  flex-direction: column; /* 자식 요소들을 수직으로 배치 */
}

.board-detail-bottom {
  background-color: #fff;
  padding: 25px;
}
.board-detail-profile-img-box {
  width: 38px;
  height: 38px;
}
.profile-img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  border-radius: 50%;
}
.board-detail-profile-img {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/image/default-profile.png);
  background-size: 100% 100%;
  /*margin-right: 10px;*/
}

.board-detail-views-icon {
  width: 30px;
  height: 20px;
  background-image: url(../../assets/image/boarditem-view.png);
  background-size: 100% 100%;
  margin-right: 5px;
}

.board-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  cursor: pointer;
}
.del-btn {
  background-color: rgba(208, 0, 0, 0.8);
  color: #ffffff;
}
.del-btn:hover {
  background-color: rgba(208, 0, 0, 0.75);
}
.board-list-btn-container {
  padding-bottom: 20px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.board-detail-category {
  margin-left: 10px;
  color: #959595;
}

.board-detail-title {
  font-size: 20px;
  font-weight: bold;
}

.border-detail-tag {
  margin-top: auto; /* 위쪽 여백을 자동으로 설정하여 맨 아래에 위치하게 함 */
  display: flex;
}

.border-detail-tag-item {
  cursor: pointer;
  color: blue;
  margin-right: 10px;
}

.board-detail-info {
  display: flex;
  margin-top: 8px;
}

.board-detail-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.board-detail-comment-icon {
  width: 30px;
  height: 25px;
  background-image: url(../../assets/image/boarditem-count.png);
  background-size: 100% 100%;
  margin-right: 5px;
}

.board-deatil-like-off-icon {
  width: 28px;
  height: 25px;
  background-image: url(../../assets/image/boarditem-like.png);
  background-size: 100% 100%;
  margin-right: 5px;
  cursor: pointer;
}

.board-deatil-like-on-icon {
  width: 28px;
  height: 25px;
  background-image: url(../../assets/image/boarditem-color-like.png);
  background-size: 100% 100%;
  margin-right: 5px;
  cursor: pointer;
}

.board-detail-comment,
.board-detail-like {
  display: flex;
  margin-right: 20px;
}

.board-detail-comment-textarea {
  width: 93%;
  height: 70px;
  padding: 15px;
  resize: none;
  font-size: 17px;
  /* border: 1px solid #b6b6b6; */
  border: none;
  outline: none;
  margin: 10px 0 0 10px;
}

.board-detail-comment-write-box {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  gap: 10px;

  border: 1px solid #b6b6b6;
  border-radius: 7px;
}
.board-detail-comment-write {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-detail-interactions {
  display: flex;
  margin-bottom: 20px;
}

.comment-write-btn-off {
  background-image: url(../../assets/image/comment-write-off-icon.png);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* border-radius: 45%; */

  /* border: 1px solid #b6b6b6;
  font-size: 20px;
  color: #949494;
  border-radius: 7px; */
  width: 28px;
  height: 25px;
  background-size: 100% 100%;
  margin: 5px 15px 15px 0px;
  cursor: pointer;
}

.comment-write-btn-on {
  background-image: url(../../assets/image/comment-write-on-icon.png);
  width: 28px;
  height: 25px;
  background-size: 100% 100%;
  margin: 5px 15px 15px 0px;
  cursor: pointer;
}

.board-detail-comment-write-bottom-box {
  display: flex;
  justify-content: flex-end;
}

.error-msg {
  color: #ff0000;
  padding-left: 10px;
}

.board-comment-item-detail,
.board-comment-item-nickname {
  margin-bottom: 8px;
}

.board-comment-item-date {
  margin-bottom: 30px;
}

.board-comment-item-nickname {
  font-weight: bold;
  font-size: 19px;
}

.error {
  border: 1px solid #ff0000;
}

.board-detail {
  white-space: pre-wrap; /* 공백과 줄바꿈을 유지하며 줄바꿈 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
  height: 100px;
}
